h3, h5{
    padding: 10px;
    
}


body{
    background-color: #ccc;
}

.tagButton{
    margin: 2px;
    color: white;
    border-radius: 10%;
    background-color: teal;
    box-shadow: 2px 2px 4px black;
}

.tagButton:active{
    box-shadow: none;
}


.imageContainer{

    min-width: 300px;
    background-color: #fff;
    border: 1px solid black;
    box-shadow: 2px 2px 4px black;
}

img{
    margin: 5px;
    border: 1px solid black;
    /* box-shadow: 2px 2px 4px black; */
    
}
